.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .thead {
    background-color: #333;
    color: white;
  }
  
  .tr {
    border-bottom: 1px solid #ddd;
  }
  
  .th, .td {
    padding: 12px 15px;
    border: 1px solid black;
  }
  
  tbody .tr:nth-child(even) {
    background-color: lightgray;
    color: black;
  }
  
  tbody .tr:nth-child(odd) {
    background-color: #ffffff;
    color: black;

  }
  
  .td {
    text-align: center;
  }
  
  .th {
    text-align: center;
    background-color: #333;
    color: white;
  }
  